/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Manrope', sans-serif;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

.header{
    background: url(../img/header_bg.png) no-repeat center top;
    width: 100%;
}

.logo__estimation{
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-right: 135px;
    padding-left: 135px;
}
.header__button{
    display: flex;
    position: relative;
    transition: all 500ms ease; 
}

.header__button:hover{
    transform: skew(-10deg);
}


.estimation{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 170px;
height: 48px;

/* Accent */

background: #FFC700;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

border: 0;

}


.estimation__text{
    padding-right: 3px;
    width: 122px;
height: 14px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 14px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* Black */

color: #202020;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.header__text__block{
    padding-top: 480px;
    padding-right: 535px;
    padding-bottom: 80px;
    padding-left: 135px;
}

.header__text{
    width: 770px;
height: 160px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80px;
/* or 111% */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.header__description{
    width: 770px;
height: 80px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
/* or 167% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.ourworks{
    background: #101010;
}

.ourworks__text__title{
    padding-top: 80px;
    padding-left: 135px;
}

.ourworks__text{
    width: 570px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 100%;
/* identical to box height, or 48px */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

padding-bottom: 16px;
}

.ourworks__description{
    width: 570px;
height: 32px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
padding-bottom: 48px;
}

#scroll__container{
    max-width: 100%;
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    overflow-x: scroll;
    
  margin: 0 auto;
    
}

#scroll__container::-webkit-scrollbar {
    width: 0;
  }

.grid__scroll__item{
    width: 570px;
    margin-right: 30px;
}

.grid__scroll__title{
    width: 570px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */


/* White */

color: #FFFFFF;
padding-top: 12px;
}

.grid__scroll__descriptionbox{
    display: flex;
    flex-direction: row;
}

.scroll__description1, .scroll__description2, .scroll__description3{
    padding-right: 20px;
    padding-top: 8px;
    height: 14px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */


/* White */

color: #FFFFFF;
}



.whatcanwedo{
    background: #101010;
}

.whatcanwedo__textbox{
    padding-top: 107px;
    padding-left: 135px;
    padding-bottom: 48px;
}

.whatcanwedo__title{
    width: 570px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 100%;
/* identical to box height, or 48px */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.whatcanwedo__description{
    width: 570px;
height: 96px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* or 200% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.whatcanwedo__flex__infobox{
    padding-left: 135px;
    padding-right: 135px;

    /* Auto layout */
    
    display: flex;
    flex-wrap: wrap;
    
    align-items: flex-start;
}

.whatcanwedo__first{
    height: 240px;
    width: 370px;
    background: rgba(255, 255, 255, 0.05);
    
}

.whatcanwedo__first__imgbox{
    padding-left: 24px;
    padding-top: 90px;
    padding-bottom: 19px;
}

.whatcanwedo__first__pic1{
    padding-right: 24px;
}

.whatcanwedo__first__textbox{
    padding-left: 24px;
}

.whatcanwedo__first__title{
    width: 322px;
    height: 24px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    
    text-transform: capitalize;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.whatcanwedo__first__description{
    width: 322px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__second{
    height: 240px;
    width: 270px;
    background: rgba(255, 255, 255, 0.05);
    
}

.whatcanwedo__second__imgbox{
    padding-top: 67px;
    padding-left: 27px;
    padding-bottom: 20px;
}

.whatcanwedo__second__textbox{
    padding-left: 27px;
}

.whatcanwedo__second__title{
    width: 222px;
    height: 24px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    
    text-transform: capitalize;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.whatcanwedo__second__description{
    width: 222px;
height: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


.whatcanwedo__third{
    height: 240px;
    width: 470px;
    background: rgba(255, 255, 255, 0.05);
    
}

.whatcanwedo__third__imgbox{
    padding-top: 90px;
    padding-left: 27px;
    padding-bottom: 20px;
}

.whatcanwedo__third__textbox{
    padding-left: 27px;
}

.whatcanwedo__third__title{
    width: 422px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__third__description{
    width: 422px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__fourth{
    height: 240px;
    width: 470px;
    background: rgba(255, 255, 255, 0.05);
   
}

.whatcanwedo__fourth__imgbox{
    padding-top: 92px;
    padding-left: 27px;
    padding-bottom: 20px;
}

.whatcanwedo__fourth__textbox{
    padding-left: 27px;
}

.whatcanwedo__fourth__title{
    width: 422px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__fourth__description{
    width: 422px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__fifth{
    height: 240px;
    width: 370px;
    background: rgba(255, 255, 255, 0.05);
    
}

.whatcanwedo__fifth__imgbox{
    padding-top: 92px;
    padding-left: 27px;
    padding-bottom: 20px;
}

.whatcanwedo__fifth__textbox{
    padding-left: 24px;
}

.whatcanwedo__fifth__title{
    width: 322px;
    height: 24px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    
    text-transform: capitalize;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.whatcanwedo__fifth__description{
    width: 322px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.whatcanwedo__first:hover, .whatcanwedo__second:hover, .whatcanwedo__third:hover,.whatcanwedo__fourth:hover,.whatcanwedo__fifth:hover{
    background: red;
    transition: all 1000ms ease; 
}

.whatcanwedo__first, .whatcanwedo__second, .whatcanwedo__third, .whatcanwedo__fourth, .whatcanwedo__fifth{
    margin-right: 20px;
    margin-bottom: 20px;
}




.somethingmore__infobox{
    height: 240px;
    width: 200px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.somethingmore__text{
    width: 270px;
    height: 20px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding-bottom: 8px;
}

.somethingmore__description{
    width: 270px;
height: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */

text-align: center;

/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
padding-bottom: 16px;
}

.somethingmore__btn{
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.05);
    border: 0;
    transition: all 500ms ease; 
}

.somethingmore__btn:hover{
    background: red;
}






.info__footer{
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-top: 33px;
    padding-bottom: 31px;
    padding-right: 135px;
}

.info__footer__text{
    width: 122px;
height: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding-bottom: 4px;
}

.info__footer__description{
    width: 135px;
height: 10px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */

display: flex;
align-items: center;

/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.footer__reviews__img{
    flex: none;
}

.info__footer__websbox{
    display: flex;
    justify-content: flex-end;
}

.websbox__btn{
    height: 32px;
    width: 32px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 12px;
}

.footer{
    background: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 135px;
    padding-top: 17px;
    padding-right: 135px;
    padding-bottom: 35px;
}

.footer__textbox{
    display: flex;
}

.footer__text{
    width: 64px;
height: 10px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */


/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding-right: 12px;
}

.footer__another__text{
    width: 61px;
height: 10px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */


/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.language__title{
    display: flex;
    flex-direction: row;
}

.language__text{
    width: 41px;
height: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */


/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding-right: 8px;
}

.popup__wrapper{
width: 100%;
  max-height: 100%;
  background: #101010;
  display: none;
  animation: show 0.2s ease;
}

@keyframes show {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes hide {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.5);
    }
  }

  *{
    margin: 0;
}



.popup__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 145px;
    padding-top: 44px;
    padding-bottom: 80px;
}

.popup__cross{
    background: #101010;
    transition: all 1000ms ease; 
    opacity: 0.5;
    border: 0;
}

.popup__cross:hover{
    background: #525050;
}

.popup__title{
    width: 770px;
height: 80px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80px;
/* identical to box height, or 111% */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.popup__description{
    width: 770px;
height: 80px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
/* or 167% */


/* White */

color: #FFFFFF;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.popup__textbox{
    margin-left: 135px;
}

.popup__title{
    padding-bottom: 16px;
}

.popup__description{
    padding-bottom: 44px;
}

.popup__form__class{
    display: flex;
    flex-direction: column;
    
}

.popup__input__name, .popup__input__email, .popup__textarea__box{
    width: 570px;
    margin-left: 135px;
}

.popup__input__name{
    margin-bottom: 48px;
    background: #101010;
    border: 0;
    color: #FFFFFF;
    height: 16px;
    padding-left: 16px;
}

.popup__input__email__title{
    width: 572px;
height: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */

display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;
margin-left: 135px;
background: rgba(255, 255, 255, 0.1);

padding-top: 8px;
padding-left: 16px;
padding-bottom: 4px;

}

.popup__input__email{
    margin-bottom: 32px;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    color: #FFFFFF;
    padding-left: 16px;
    
}

.popup__email__box__title{
    width: 538px;
height: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */

display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* White */

color: #FFFFFF;

opacity: 0.5;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;
}

.popup__textarea__box{
    background: rgba(255, 199, 0, 0.1);
    margin-bottom: 48px;
}

.popup__textarea__title{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 100%;
/* identical to box height, or 12px */

display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* Accent */

color: #FFC700;

opacity: 0.5;
padding-left: 16px;
padding-top: 16px;
padding-bottom: 4px;
width: 900px;
}

.popup__textarea__description{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

display: flex;
align-items: center;

/* Accent */

color: #FFC700;
padding-left: 16px;
padding-bottom: 4px;
}

.popup__input__textarea{
    padding-left: 16px;
    background: rgba(255, 199, 0, 0.1);
    color: #FFFFFF;
    width: 550px;
    height: 156px;
}

.popup__estimation{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 256px;
height: 48px;

/* Accent */

background: #FFC700;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
margin-left: 152px;
position: relative;
    transition: all 500ms ease; 
    margin-bottom: 30px;
    border: 0popup__;
}

.popup__estimation:hover{
    transform: skew(-10deg);
}

.popup__estimation__text{
    padding-right: 2px;
    width: 122px;
height: 14px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* Black */

color: #202020;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/* 1200px - 1440px */
@media screen and (max-width: 1440px) {
	
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	
}

/* 768px - 992px */
@media screen and (max-width: 992px) {

    .header__text__block{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__text{
        
        width: 736px;
height: 160px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 80px;
/* or 125% */

text-transform: capitalize;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

    #scroll__container{
        padding-right: 16px;
        padding-left: 16px;
    }

    .grid__scroll__item {
        
        margin-right: 16px;
        
    }

    #main{
        width: 100%;
        background: #101010;;
    }

    .ourworks__text__title{
        padding-left: 16px;
        padding-right: 16px;
    }

    .whatcanwedo__textbox{
        padding-left: 16px;
        padding-right: 16px;
    }

    .whatcanwedo__flex__infobox{
        padding-right: 16px;
        padding-left: 16px;
    }

    .whatcanwedo__first{
        width: 454px;
        height: 240px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .whatcanwedo__second{
        width: 266px;
        height: 240px;
        margin-right: 0px;
        margin-bottom: 0;
    }

    .whatcanwedo__third{
        width: 360px;
        height: 240px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .whatcanwedo__fourth{
        width: 360px;
        height: 240px;
        margin-right: 0px;
        margin-bottom: 0;
    }

    .whatcanwedo__fifth{
        width: 454px;
height: 240px;
margin-right: 16px;

    }

    .whatcanwedo__first__description{
        width: 406px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }

    .whatcanwedo__second__description{
        width: 218px;
height: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }

    .whatcanwedo__third__description{
        width: 312px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }


    .whatcanwedo__fourth__description{
        width: 312px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }

    .whatcanwedo__fifth__description{
        width: 406px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }

.logo__estimation{
    padding-left: 16px;
    padding-top: 44px;
    padding-right: 16px;
}

.header{
    background: url(../img/header_bg.png) no-repeat left;
}

.info__footer{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
}

.footer{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
}

.popup__header{
    padding-left: 16px;
    padding-right: 27px;
    padding-top: 44px;
}

.popup__textbox{
    padding-left: 16px;
    margin-left: 0;
}

.popup__title{
    width: 736px;
height: 80px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 80px;

}

.popup__input__name{
    margin-left: 16px;
    
}

.popup__input__email__title{
    margin-left: 16px;
    
}

.popup__input__email{
    margin-left: 16px;
}

.popup__textarea__box{
    margin-left: 16px;
}

.popup__estimation{
    width: 707px;
height: 48px;
    margin-left: 28px;
}

.popup__wrapper{
    max-height: 100vh;
}

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	#main{
        background: red;
    }

    .header__text{
        width: 280px;
height: 80px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 40px;
    }

    .header__description{
        width: 280px;
height: 72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;
    }

.ourworks__text{
    width: 280px;
height: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 40px;
/* identical to box height, or 143% */

text-transform: capitalize;

/* White */

color: #FFFFFF;
}

.ourworks__description{
    width: 280px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* White */

color: #FFFFFF;
}

.ourworks__text{
    margin-bottom: 0;
    padding-bottom: 8px;
}

.ourworks__description{
    padding-bottom: 24px;
}

.grid__scroll__img{
    width: 270px;
    height: 200px;
}

.grid__scroll__title{
    width: 270px;
height: 20px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 20px */


/* White */

color: #FFFFFF;
}

.scroll__description1, .scroll__description2, .scroll__description3{
    width: 50px;
height: 8px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 100%;
/* identical to box height, or 8px */


/* White */

color: #FFFFFF;

opacity: 0.5;

}

.whatcanwedo__title{
    width: 280px;
height: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 40px;
/* identical to box height, or 143% */

text-transform: capitalize;

/* White */

color: #FFFFFF;

}

.whatcanwedo__description{
    width: 280px;
height: 96px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* White */

color: #FFFFFF;

opacity: 0.7;

}

.whatcanwedo__textbox{
    padding-top: 48px;
}

.info__footer{
    flex-direction: column-reverse;
    margin: 0;
    align-items: center;
    padding-top: 16px;
}

.info__footer__textbox{
    padding-top: 32px;
}

.footer__reviews__img{
    padding-top: 32px;
}

}



